@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.content-first {
    background-image: url(/img/nasabackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1080px;
    max-width: 1920px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
}

.navigation {
    max-width: 1920px;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: black;
    background-position: center;
    border: 2px gray solid;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-dropdown {
    position: relative;
    height: 50px;
    width: 150px;
    right: 50px;
    border: 2px gray solid;
    border-radius: 10px;
    margin-left: 25px;
    text-transform: uppercase;
}

.nav-dropdown a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    color: white;
}

.nav-dropdown a:hover {
    transform: scale(120%);
    transition: 0.25s;
}

.nav-dropdown ul { 
    margin-top: 50px;
    width: 150px;
    border: 2px gray solid;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    display: none;
}

.nav-dropdown ul li {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.nav-dropdown ul li:hover {
    background-color: rgb(0, 0, 0);
    color: black;
    border-radius: 10px;
}

.nav-dropdown ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.nav-dropdown a:focus + ul,
.nav-dropdown a:hover + ul,
.nav-dropdown ul:hover {
    display: block;
}

.wrapper-advantages {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 700px;
    left: auto;
    background-color: blueviolet;
    border: 1px rgb(13, 243, 232) solid;
    margin: auto;
}

.advantages {
    width: 400px;
    height: 700px;
    background-color: black;
    margin: auto;
    border-radius: 20px;
}

.read-more {
    color: white;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    margin-top: 600px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.content-second {
    max-height: 1080px;
    max-width: 1920px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border: 1px green solid;
}







