@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.content-first {
    background-image: url(/img/nasabackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navigation {
    max-width: 1920px;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: black;
    background-position: center;
    border: 2px gray solid;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-dropdown {
    color: white;
    position: relative;
    height: 50px;
    width: 100px;
    right: 50px;
    border: 2px gray solid;
}

.nav-dropdown a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.nav-dropdown ul { 
        margin-top: 40px;
        width: 100px;
        border: 2px gray solid;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.25);
        display: none;
}

.nav-dropdown ul li {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

.nav-dropdown ul li:hover {
    background-color: aqua;
}

.nav-dropdown ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-dropdown a:focus + ul,
.nav-dropdown a:hover + ul {
    display: inline-block;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.content-second {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    border: 1px green solid;
}







